In [4]:

# Q1. What is a database? Differentiate between SQL and NoSQL databases.

# A database is a structured collection of data organized in a way that allows for efficient retrieval, management, and modification of the data. 
# SQL databases are relational databases that use structured query language (SQL) for defining and manipulating data. They have a predefined schema and use tables to store data.
# NoSQL databases, on the other hand, are non-relational databases that do not require a fixed schema. They are more flexible and can handle unstructured data.

# Example:
# SQL Database: MySQL, PostgreSQL
# NoSQL Database: MongoDB, Cassandra

# Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

# DDL (Data Definition Language) is used to define the structure of the database. 
# CREATE is used to create new database objects like tables, indexes, etc.
# DROP is used to delete existing objects.
# ALTER is used to modify the structure of an existing database.
# TRUNCATE is used to remove all records from a table.

# Example:
# CREATE TABLE students (
#     id INT PRIMARY KEY,
#     name VARCHAR(50),
#     age INT
# );

# Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

# DML (Data Manipulation Language) is used to manipulate data within the database.
# INSERT is used to add new records into a table.
# UPDATE is used to modify existing records.
# DELETE is used to remove records from a table.

# Example:
# INSERT INTO students (id, name, age) VALUES (1, 'John', 25);
# UPDATE students SET age = 26 WHERE name = 'John';
# DELETE FROM students WHERE id = 1;

# Q4. What is DQL? Explain SELECT with an example.

# DQL (Data Query Language) is used to retrieve data from the database.
# SELECT is used to retrieve data from one or more tables.

# Example:
# SELECT * FROM students WHERE age > 20;

# Q5. Explain Primary Key and Foreign Key.

# Primary Key is a column or a set of columns that uniquely identifies each row in a table. It must contain unique values and cannot contain NULL values.

# Foreign Key is a column or a set of columns in a table that refers to the primary key of another table. It establishes a link between two tables.

# Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

# Connect to MySQL database
mydb = mysql.connector.connect(
    host="localhost",
    user="username",
    password="password",
    database="database_name"
)

# Create cursor object
mycursor = mydb.cursor()

# Execute SQL query
mycursor.execute("SELECT * FROM students")

# Fetch results
result = mycursor.fetchall()

# Print results
for row in result:
    print(row)

# Close cursor and connection
mycursor.close()
mydb.close()

# In the code above, the cursor() method creates a cursor object which is used to execute SQL queries. 
# The execute() method is used to execute SQL queries. It takes the SQL query as a parameter.
# After executing the query, the fetchall() method retrieves all the rows of the result set.
# Finally, the cursor and database connection are closed using the close() method.

# Q7. Give the order of execution of SQL clauses in an SQL query.

# The order of execution of SQL clauses in an SQL query is as follows:
# 1. FROM
# 2. WHERE
# 3. GROUP BY
# 4. HAVING
# 5. SELECT
# 6. ORDER BY

DatabaseError: 2003 (HY000): Can't connect to MySQL server on 'localhost:3306' (99)

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 55.0 MB/s eta 0:00:0000:0100:01
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0